html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff url('../img/geometry2.png');
	/* Background pattern from Subtle Patterns */
	font-family: 'Righteous', open-sans;
}

.heading-title {
	display: flex;
	width: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-weight: 300;
	font-size: 2em;
	margin: 0;
}

/*
 * Styles for the deck of cards
 */

.deck {
	width: 95%;
	min-height: 400px;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding:  0 5px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	/* margin: 0 0 3em; */
}

.deck .card {
	height: 70px;
	width: 70px;
	background: #2e3d49;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	perspective: 600px;
}

.deck .card.open {
	transform: rotateY(179deg);
	transition: all .3s ease-in-out;
	background: #02b3e4;
	cursor: default;
}

.deck .card.show {
	font-size: 24px;
}

.deck .card.match.pulse {
	cursor: default;
	background: #07ba4f;
	font-size: 24px;
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 600ms;
    transform-origin:70% 70%;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

/*
* no-match animation adapted from https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
*article posted by Sarah Drasner on 8-24-15
*/
.deck .card.no-match {
  animation: shake 0.75s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  background: #ee3903;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1.075); }
    40% { transform: scale(1.15); }
    50% { transform: scale(1.15); }
    60% { transform: scale(1); }
    70% { transform: scale(1); }
    80% { transform: scale(1.075); }
    100% { transform: scale(1); }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
	display: flex;
	width: 100%;
	font-size: 0.9em;
	flex-direction: column;
}

.game-stats {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.score-panel .stars {
	margin: 0 10px;
	padding: 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-flex;
	color: #ecec40;
}

.score-panel .stat-container  {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 7px;
}

 .button-container  {
	display: flex;
	width: 100%;
	justify-content: center;
}

.reset-button {
	background-color: #02ccba;
	max-width: 40%;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
	font-size: 0.9em;
	font-family: 'Righteous';
}

/* modal styles */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	display: flex;
	flex-wrap: wrap;
	background-color: #feefee;
	margin: 5% auto; /* 15% from the top and centered */
	padding: 10px;
	border: 1px solid #888;
	border-radius: 10px;
	width: 80%;
}

.modal-container {
	display: flex;
	width: 98%;
	justify-content: center;
	font-size: 1em;
}

.modal-stats {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.close {
	color: #000;
	display: flex;
	width: 2%;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

.modal-content .reset-button {
	width: 40%;
	background-color: #02ccba;
	cursor: pointer;
	border-radius: 5px;
	padding: 10px;
	font-size: 0.8em;
	font-family: 'Righteous';
}

#finalStars li {
	list-style-type: none;
	display: inline-block;
	color: #ecec40;
}
