html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff url('../img/geometry2.png');
	/* Background pattern from Subtle Patterns */
	font-family: 'Righteous', open-sans;
}

.heading-title {
	display: flex;
	width: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-weight: 300;
	font-size: 45px;
	margin: 0;
}


/*
 * Styles for the deck of cards
 */

.deck {
	width: 50%;
	min-height: 680px;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding: 32px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 125px;
	width: 125px;
	background: #2e3d49;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	perspective: 600px;
}

.deck .card.open {
	transform: rotateY(179deg);
	transition: all .3s ease-in-out;
	background: #02b3e4;
	cursor: default;
}

.deck .card.show {
	font-size: 33px;
}

.deck .card.match.pulse {
	cursor: default;
	background: #07ba4f;
	font-size: 33px;
	transform:
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 600ms;
    transform-origin:70% 70%;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.deck .card.disabled {
	pointer-events: none;
}

/*
* no-match animation adapted from https://css-tricks.com/snippets/css/shake-css-keyframe-animation/
*article posted by Sarah Drasner on 8-24-15
*/
.deck .card.no-match {
  animation: shake 0.75s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  background: #ee3903;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1.075); }
    40% { transform: scale(1.15); }
    50% { transform: scale(1.15); }
    60% { transform: scale(1); }
    70% { transform: scale(1); }
    80% { transform: scale(1.075); }
    100% { transform: scale(1); }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
	width: 50%;
	font-size: 20px;
}

.game-stats {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
	color: #ecec40;
}

.score-panel .stat-container  {
	display: flex;
	width: 33.3333334%;
	justify-content: center;
}

 .button  {
	display: flex;
	width: 50%;
	justify-content: center;
}

.button button {
	background-color: #02ccba;
	width: 40%;
	cursor: pointer;
	border-radius: 5px;
	padding: 10px;
	font-size: 15px;
	font-family: 'Righteous';
}
